.slider {
}
.slider__list {
}
.slider__item {
	height: 724px;
	background-image: url(../images/slider/slider-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #f7f7f7;
}
